.my-order-background{
    background: linear-gradient(rgba(163, 118, 118, 0.3), rgba(0,0,0,.3)), url('../../Images/my-order.jpg');
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.doted-hr{
    border: 8px dotted black;
    background-color: unset;
    border-bottom: none;
    width: 140px;
    margin: auto;
}